<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <!-- TITLE OF SITE -->
    <title>Mitt | The most exciting games. The cheapest prices</title>

    <meta name="description" content="The most exciting games. The cheapest prices." />
    <meta name="keywords" content="sports, travel, tickets, find tickets, find flights, follow teams, find games, find tickets for games" />
    <meta name="author" content="Mitt">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!-- =========================
       STYLESHEETS
    ============================== -->
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- GOOGLE FONTS -->
    <link href="//fonts.googleapis.com/css?family=Raleway:300,400,600,700%7COpen+Sans:300,400,600,700%7CHandlee" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <!-- FONT AWESOME -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
            <script src="assets/js/plugins/html5shiv.min.js"></script>
            <script src="assets/js/plugins/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- =========================
         PRELOADER
    ============================== -->
    <div class="preloader">
        <div class="loader-container">
        </div>
    </div>


    <!-- =========================
         HEADER
    ============================== -->
    <header class="header" style="background: url('<%= @random_background %>') no-repeat center top fixed; background-size: cover;" id="top" data-stellar-background-ratio="0.5">
        <!-- Background Overlay -->
        <div class="overlay">

            <!-- =========================================
                 Navigation
            ========================================== -->
            <nav class="navbar navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Navbar-Header -->
                            <div class="navbar-header">

                                <!-- Mobile Menu -->
                                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                                    <i class="icon icon_menu"></i>
                                </button>

                                <!-- Text-Logo -->
                                <a href="#top" class="navbar-brand scrollto" title="Mitt">
                                    <img src="logo.svg" onerror="this.onerror=null; this.src='logo.png'" style="width:60px;height:30px;">
                                </a>
                            </div><!-- /End Navbar-Header -->

                            <!-- Navbar-Collapse -->
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav navbar-right">
                                    <!-- Early Access Modal on click -->
                                    <li><a class="btn btn-nav btn-signup" data-toggle="modal" href="javascript:void(0)" onclick="openEarlyAccessModal();">Get Early Access</a></li>
                                </ul>
                            </div><!-- /End Navbar-Collapse -->
                        </div><!-- /End Col -->
                    </div><!-- /End Row -->
                </div><!-- /End Container -->
            </nav><!-- /End Sticky Navigation -->


            <!-- ==================================================
                 Login/Signup Bootstrap Modal fixes for Early Access
            ==================================================  -->
            <div class="modal fade login" id="loginModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal-Header -->
                        <div class="modal-header">
                            <!-- Close Button -->
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                <i class="icon icon_close_alt2"></i>
                            </button>
                            <!-- Modal-Header Title-->
                            <h4 class="modal-title">Get Early Access to Mitt</h4>
                        </div><!-- /End Modal-Header -->

                        <!-- Modal-Body Content -->
                        <div class="modal-body">
                            <div class="box">
                                 <div class="content">
                                    <!-- Early Access Form -->
                                    <div class="loginBox">
                                        <%= form_tag "/signup", id: "earlyaccess-modal", method: "post" do %>
                                            <!-- Success/Alert Notification -->
                                            <p class="lm-success"><i class="icon icon_check_alt2"></i> <strong>You are successfully subscribed for our beta list.</strong></p>
                                            <p class="lm-failed"><i class="icon icon_close_alt2"></i><strong> Something went wrong! Insert correct value.</strong></p>
                                            <!-- Input Fields -->
                                            <%= email_field_tag :email, nil, :id => "lm-email", :placeholder => "Email", :class => "form-control input-lg", :required => true %>
                                            <!-- Login Button -->
                                            <%= submit_tag "Sign up for Beta!", :class => "btn btn-color" %>
                                        <% end %>
                                    </div><!-- /End Early Access Form -->
                                 </div>
                            </div><!-- /End Early Access Form Box -->
                        </div><!-- /End Modal-Body -->

                        <!-- Modal-Footer -->
                        <div class="modal-footer">
                            <!-- Early Access-Footer.-->
                            <div class="forgot login-footer">
                                <span>Sign up to be the first to try our service.</span>
                            </div>
                        </div><!-- /End Modal-Footer -->

                    </div><!-- /End Modal Content -->
                </div><!-- /End Modal Dialog -->
            </div><!-- /End Modal -->


            <!-- =========================================
                 Hero-Section
            ========================================== -->
            <div class="container vmiddle earlyaccess">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hero-section">

                            <!-- Welcome - Hero Message -->
                            <h1 class="text-white slogan">The most exciting games. The cheapest prices.</h1>
                            <br>
                            <div class="col-md-10 col-md-offset-1">
                                <!-- Early Access Subscribe. Emails List in subscribe.txt -->
                                <%= form_tag "/signup", remote: true, id: "subscribe", method: "post" do %>
                                    <div class="row earlyaccess-box">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <p class="subscription-success"><i class="fa fa-check-circle"></i> You are successfully subscribed for our beta list.</p>
                                            <p class="subscription-failed"><i class="fa fa-exclamation-circle"></i> Something went wrong!</p>

                                            <div class="input-group">
                                                <div class="col-md-8 col-xs-8 col-xs-offset-2 col-md-offset-0">
                                                <%= email_field_tag :email, nil, :placeholder => "Enter your Email Address", :class => "form-control", :id => "email-field", :required => true %>
                                                </div>
                                                <div class="col-md-4 col-xs-8 col-xs-offset-2 col-md-offset-0">
                                                    <span class="input-group-btn">
                                                        <%= submit_tag "SIGN UP FOR BETA", :class => "btn btn-color",  id: "submit-button" %>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            </div>

                        </div><!-- /End Intro-Section -->
                    </div><!-- /End Col -->
                </div><!-- /End Row -->
            </div><!-- /End Container Hero-Section -->


        </div><!-- /End Background Overlay -->
    </header>
    <!-- =========================
         /END HEADER
    ============================== -->


    <!-- =================================
         SECTION ABOUT - INTRO FEATURES
    ====================================== -->
    <section class="intro-features" id="about">
        <div class="container">
            <!-- Padding -->
            <div class="wrapper-lg">
                <div class="row">
                    <!-- Section Header Title -->
                    <div class="col-xs-12 section-title">
                        <h1>Be there for the biggest moments </h1>
                        <!-- <p class="large">Spend less time worrying about front-end and more focusing on your product.</p> -->
                    </div>
                </div>
                <!-- Three Main Features with Icons -->
                <div class="row">
                    <div class="col-sm-4 intro-content">
                        <div class="icon-lg">
                            <i class="fa fa-ticket"></i>
                        </div>
                        <h4>Tickets</h4>
                        <p>Spend less time searching and more time watching. Tell us your favorite teams, set your price range and let Mitt notify you when we find the tickets you’re looking for. </p>
                    </div>
                    <div class="col-sm-4 intro-content">
                        <div class="icon-lg">
                            <i class="fa fa-plane"></i>
                        </div>
                        <h4>Flights</h4>
                        <p>Don’t let long distance get in the way of you and your favorite team.  Mitt helps you find the best game day flight deals.</p>
                    </div>
                    <div class="col-sm-4 intro-content">
                        <div class="icon-lg">
                            <i class="fa fa-bullhorn"></i>
                        </div>
                        <h4>Notifcations</h4>
                        <p>Custom alerts for your favorite teams and sports. Mitt searches thousands of flights and tickets and notifies you of the best deals.</p>
                    </div>
                </div><!-- /End Row -->
            </div><!-- /End Wrapper -->
        </div><!-- /End Container -->
    </section>
    <!-- =============================
         /END INTRO FEATURES
    ============================== -->


    <!-- ==================================================
        FOOTER
    ======================================================= -->
    <footer class="footer dark-bg" id="footer">
        <div class="container">
            <div class="wrapper-xs">
                <div class="row">
                    <!-- Footer Menu and Copy -->
                    <div class="col-md-12">
                        <p class="footer-copy">&copy; 2014 - Mitt</a></p>
                    </div>
                </div><!-- End Row -->
            </div><!-- /End Wrapper -->
        </div><!-- /End Container -->
    </footer>


    <!-- =========================
         SCRIPTS
    ============================== -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


</body>
</html>
